---
import MainLayout from "../layout/MainLayout.astro";
export const prerender = false;
---

<MainLayout>
	<img src="https://picsum.photos/1600/900" style="height: 60vh; object-fit: cover; width: 100%;" alt="Imagen de prueba aleatoria de Picsum">



  <h1>Astro</h1>
  <p>{new Date().getTime()}</p>
</MainLayout>
