*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

body > * {
    margin-bottom: 1rem;
    font-family: system-ui, sans-serif;
    text-rendering: optimizeLegibility;
}

picture{
    display: block;
    width: 50vmin;
}