*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    /* shape-margin: 1rem; */
}

body > * {
    margin-bottom: 1rem;
}

picture{
    display: block;
    width: 50vmin;
}